name: Check version update
on:
  pull_request:
    branches: [ "master" ]
permissions:
  contents: read
jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout PR
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # Fetch all history for all branches and tags
    - name: Check version update
      run: |
        PR_NUMBER=${{ github.event.pull_request.number }}
        FILE_CHANGED=$(git diff --name-only ${{ github.event.pull_request.base.sha }} HEAD | grep 'pyproject.toml' || true)
        if [ -z "$FILE_CHANGED" ]; then
          echo "pyproject.toml was not changed in this PR. Please update the version."
          exit 1
        else
          echo "pyproject.toml was changed in this PR."
        fi
        VERSION_CHANGED=$(git diff ${{ github.event.pull_request.base.sha }} HEAD | grep 'version =' || true)
        if [ -z "$VERSION_CHANGED" ]; then
          echo "Version in pyproject.toml was not updated. Please update the version."
          exit 1
        else
          echo "Version in pyproject.toml was updated."
        fi